version: '3.8'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: stock-insight-backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
      - backend-cache:/app/cache
    environment:
      - PYTHONUNBUFFERED=1
    env_file:
      - ./backend/.env
    networks:
      - stock-network
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    env_file:
      - ./frontend/.env
    container_name: stock-insight-frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend
    networks:
      - stock-network
    restart: unless-stopped

networks:
  stock-network:
    driver: bridge

volumes:
  backend-cache:
